div {
	position: absolute;
    border: solid 3px greenyellow;
	width: 200px;
	height: 200px;
	background: grey;
}
.div1 {
	left: 10px;
	top: 20px;
	background-color: rgba(175,213,196,0.2);
}
.div2 {
	left: 20px;
	top: 30px;
	z-index:-1 ;
    background-color: rgba(175,213,196,0.2);
}

.div3 {
	left: 30px;
	top: 40px;
	z-index: -2;
    background-color: rgba(175,213,196,0.2);
}
.div4 {
	left: 40px;
	top: 50px;
	z-index: -3;
	background-color: rgba(175,213,196,0.2);
}
.div5 {
	left: 50px;
	top: 60px;
	z-index: -4;
	background-color: rgba(175,213,196,0.2);
}